{{ define "main" }}
{{- $paginator := .Paginate .Data.Pages.ByDate.Reverse .Site.Params.blogPaginate }}
<main id="main" class="blog-page">
  <h1 class="page-title">{{ .Title }}</h1>

  {{- range $index, $element := $paginator.Pages -}}
  {{- $thisYear := $element.Date.Format "2006" }}
  {{- $lastElement := $index | add -1 | index $paginator.Pages }}
  
  <h1>
    <svg class="bookmark-icon" aria-hidden="true" viewBox="0 0 40 50" focusable="false">
      <use xlink:href="#bookmark"></use>
    </svg>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h1>

  <div class="date">
    {{ $dateFormat := $.Site.Params.dateFormat | default "02 Jan 2006" }}
    {{ $publishDate := .PublishDate }}
    <strong>{{ T "publish_date" }} </strong>{{ $publishDate.Format $dateFormat }}
    {{ with .Lastmod }}
      {{ if gt . $publishDate }}
        <br>
        <strong>{{ T "last_updated" }} </strong>{{ .Format $dateFormat }}
      {{ end }}
    {{ end }}
  </div>

  {{ with .Params.tags }}
    <div class="tags">
      <strong>{{ T "tags" }} </strong>
      <ul aria-label="{{ T "aria_label_tags" }}">
        {{ range . }}
          <li>
            <svg class="tag-icon" aria-hidden="true" viewBox="0 0 177.16535 177.16535" focusable="false">
              <use xlink:href="#tag"></use>
            </svg>
            {{ $href := print ("tags/" | absLangURL) (. | urlize) "/" }}
            <a href="{{ $href }}">{{ . }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}

  <div class="summary">
    <p>{{ .Summary }}</p>
  </div>
  {{ if .Truncated }}
  <div class="read-more-link">
    <a href="{{ .RelPermalink }}">Read More…</a>
  </div>
  {{ end }}

{{- end -}}

<!-- pagination -->
<nav class="pagination">
  {{ with $paginator.Next -}}
    <a class="next" href="{{ .URL }}">
      <span class="next-text">Older</span>
      <i class="iconfont icon-right"></i>
    </a>
  {{- end }}
  {{ with $paginator.Prev -}}
    <a class="prev" href="{{ .URL }}">
      <i class="iconfont icon-left"></i>
      <span class="prev-text">Newer</span>
    </a>
  {{- end }}
</nav>

<div class="blog-archives-links">
<h3>Archives</h3>
  <a href="/blog/archive">By Chronology</a> • <a href="/tags">By Tag</a>
</div>
</main>
{{ end }}