// Call fonts

/// Sans
@font-face {
    font-family: 'Calibre';
    src: url("/fonts/CalibreWeb-Regular.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre';
    src: url("/fonts/CalibreWeb-Bold.woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Calibre';
    src: url("/fonts/CalibreWeb-RegularItalic.woff");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Calibre';
    src: url("/fonts/CalibreWeb-BoldItalic.woff");
    font-weight: 700;
    font-style: italic;
}

/// Serif
@font-face {
    font-family: 'Untitled Serif';
    src: url("/fonts/UntitledSerif-Regular.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Untitled Serif';
    src: url("/fonts/UntitledSerifWeb-Bold.woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Untitled Serif';
    src: url("/fonts/UntitledSerif-RegularItalic.woff");
    font-weight: 400;
    font-style: italic;
}

/// Mono
@font-face {
    font-family: 'iA Writer Duo S';
    src: url("/fonts/iAWriterDuoS-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'iA Writer Duo 2';
    src: url("/fonts/iAWriterDuoS-BoldItalic.woff2");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'iA Writer Duo 2';
    src: url("/fonts/iAWriterDuoS-Italic.woff2");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'iA Writer Duo 2';
    src: url("/fonts/iAWriterDuoS-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

/// Variables
$sans: "Calibre", sans-serif;
$mono: "iA Writer Duo 2", monospace;
$serif: "Untitled Serif", serif;