<div>
	<h3>Peer-Reviewed Articles</h3>
	<div class="cv-pub-list">
	<ul>
		{{ range .Site.Data.cv.journals }}
		<li>
			{{ if ne .url "" }}
			<a href="{{ .url }}" target="_blank">&ldquo;{{ .title }}.&rdquo;</a>
			{{ else }}
			&ldquo;{{ .title }}.&rdquo;
			{{ end }}
			{{ .date }}. <i>{{ .journal }}</i>, {{ .number }}.
		</li>
		{{ end }}
	</ul>
	</div>
</div>

<div>
	<h3>Short Articles & Reviews</h3>
	<div class="cv-pub-list">
	<ul>
		{{ range .Site.Data.cv.reviews }}
		<li>
			{{ if ne .url "" }}
			<a href="{{ .url }}" target="_blank">&ldquo;{{ .title | markdownify }}.&rdquo;</a>
			{{ else }}
			&ldquo;{{ .title | markdownify }}.&rdquo;
			{{ end }}
			{{ .date }}. <i>{{ .journal }}</i>, {{ .number }}.
		</li>
		{{ end }}
	</ul>
	</div>
</div>

<div>
	<h3>Web</h3>
	<div class="cv-pub-list">
	<ul>
		{{ range .Site.Data.cv.web }}
		<li>
			{{ if ne .url "" }}
			<a href="{{ .url }}" target="_blank">&ldquo;{{ .title | markdownify }}.&rdquo;</a>
			{{ else }}
			&ldquo;{{ .title | markdownify }}.&rdquo;
			{{ end }}
			{{ .date }}. <i>{{ .venue }}</i>.
		</li>
		{{ end }}
	</ul>
	</div>
</div>