<div>
	<h3>Memberships</h3>
	<div class="cv-pub-list">
		<ul>
			{{ range .Site.Data.cv.membership }}
			<li>
				{{ .title }}, {{ .institution }}.
			</li>
			{{ end }}
		</ul>
	</div>
</div>

<div>
	<h3>Service</h3>
	<div class="cv-pub-list">
		<ul>
			{{ range .Site.Data.cv.service }}
			<li>
				{{ .title }}, {{ .institution }}. {{ .year }}.
			</li>
			{{ end }}
		</ul>
	</div>
</div>

<div>
	<h3>Scholarly Organizations</h3>
	<div class="cv-pub-list">
		<ul>
			{{ range .Site.Data.cv.orgs }}
			<li>
				{{ .title }}
			</li>
			{{ end }}
		</ul>
	</div>
