<div>
	<h3>Conference Talks</h3>
	{{ range .Site.Data.research.conferenceTalks }}
	<div class="research-title">
		{{ if ne .url "" }}
		<a href="{{ .url }}">&ldquo;{{ .title }}.&rdquo;</a>
		{{ else }}
		&ldquo;{{ .title }}.&rdquo;
		{{ end }}
	</div>
	<div class="research-meta">
		{{ .date }}, <em>{{ .conference }}</em>, {{ .institution }}, {{ .location }}.
	</div>
	<div class="research-descriptor">
		{{ .snippet | markdownify }}
	</div>
	{{ end }}
</div>

<div>
	<h3>Roundtables & Panels</h3>
	{{ range .Site.Data.research.conferenceOther }}
	<div class="research-title">
		{{ if ne .url "" }}
		<a href="{{ .url }}">&ldquo;{{ .title }}.&rdquo;</a>
		{{ else }}
		&ldquo;{{ .title }}.&rdquo;
		{{ end }}
	</div>
	<div class="research-meta">
		{{ .date }}, <em>{{ .conference }}</em>, {{ .institution }}, {{ .location }}.
	</div>
	<div class="research-descriptor">
		{{ .snippet | markdownify }}
	</div>
	{{ end }}
</div>