<div>
	<h3>Articles & Chapters</h3>
	{{ range .Site.Data.research.articles }}
	<div class="research-title">
		{{ if ne .url "" }}
		<a href="{{ .url }}">&ldquo;{{ .title | markdownify }}.&rdquo;</a>
		{{ else }}
		&ldquo;{{ .title | markdownify }}.&rdquo;
		{{ end }}
	</div>
	<div class="research-meta">
		<em>{{ .venue }}</em>, {{ .number }}, {{ .date }}.
	</div>
	<div class="research-descriptor">
		{{ .snippet }}
	</div>
	{{ end }}
</div>

<div>
	<h3>Reviews & Short Pieces</h3>
	{{ range .Site.Data.research.reviews }}
	<div class="research-title">
		{{ if ne .url "" }}
		<a href="{{ .url }}">&ldquo;{{ .title | markdownify }}.&rdquo;</a>
		{{ else }}
		&ldquo;{{ .title | markdownify }}.&rdquo;
		{{ end }}
	</div>
	<div class="research-meta">
		<em>{{ .venue }}</em>, {{ .number }}, {{ .date }}.
	</div>
	<div class="research-descriptor">
		{{ .snippet }}
	</div>
	{{ end }}
</div>

<div>
	<h3>Web</h3>
	{{ range .Site.Data.research.web }}
	<div class="research-title">
		{{ if ne .url "" }}
		<a href="{{ .url }}">&ldquo;{{ .title | markdownify }}.&rdquo;</a>
		{{ else }}
		&ldquo;{{ .title | markdownify }}.&rdquo;
		{{ end }}
	</div>
	<div class="research-meta">
		{{ .date }}, <em>{{ .venue }}</em>.
	</div>
	<div class="research-descriptor">
		{{ .snippet | markdownify }} <a href="{{ .permalink }}">Permalink.</a>
	</div>
	{{ end }}
</div>